<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style type="text/css">
  
  th{
  padding:10px;
  }
  td{
  padding:10px;
  }
</style>
<title>Confirmation</title>
</head>
<body>

<table>
			
				<tr>
				    <th>Booking Number</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Check-in</th>
					<th>Check-out</th>
					<th>Number of Guests</th>
					<th>Email Address</th>
					<th>Phone Number</th>
					<th>Room Type</th>
				</tr>
			
		
			<tbody>
				<tr th:each="field: ${requestedInfo}"> 
				<td th:text="${field.bookingNumber}"></td>
				<td th:text="${field.firstName}"></td>
				<td th:text="${field.lastName}"></td>
				<td th:text="${field.checkIn}"></td>
				<td th:text="${field.checkOut}"></td>
				<td th:text="${field.guest}"></td>
					<td th:text="${field.email}"></td>
					<td th:text="${field.phone}"></td>
					<td th:text="${field.roomType}"></td>
				</tr>
			</tbody>
		</table> 
		<a href = "/"><button type= "button">Home</button></a>



</body>
</html>
